for syntaxItem in syntaxObj
  h1= syntaxItem.title
  for section in syntaxItem.sections
    for t in section.text
      p.description !{t}
    if (section.code || section.layoutcode)
      .code-wrap
        .code-boxes
          if section.code
            .box.jade
              pre= jades[section.code]
          if section.layoutcode
            for code in section.layoutcode
              .box.jade
                pre= layouts[code]
        if section.htmlcode
          .code-boxes
            .box.html
              pre!= htmls[section.htmlcode]
