for syntaxItem in syntaxObj
  h1= syntaxItem.title
  for section in syntaxItem.sections
    for t in section.text
      p.description !{t}
    .code-wrap
      .code-boxes
        .box.jade
          pre= jades[section.code]
      .code-boxes
        .box.html
          pre= htmls[section.code]
    .panel.panel-warning
      .panel-heading 警告
      for warning in section.warning
        .panel-body!= warning
