h1= obj.title
for item in obj.description
  p.description!= item
.code-wrap
  .code-boxes
    .box.jade
      pre= jades[obj.code]
  .code-boxes
    .box.html!= htmls[obj.code]
.panel.panel-warning
  .panel-heading 警告
  for item in obj.warning
    .panel-body!= item
