for item in obj
  h1= item.title
  for section in item.sections
    for t in section.text
      p.description: !{t}
    .code-wrap
      .code-boxes
        .box.jade
          pre= jades[section.code]
      .code-boxes
        .box.html!= htmls[section.code]
    .panel.panel-warning
      .panel-heading 警告
      for warning in section.warning
        .panel-body!= warning
