for syntaxItem in syntaxObj
  h1= syntaxItem.title
  for section in syntaxItem.sections
    p.description !{section.text}
    if section.code
      .code-wrap
        .code-boxes
          .box.jade(contentEditable='true')
            pre= jades[section.code]
        .code-boxes
          .box.html
            pre= htmls[section.code]
      if section.danger
        .panel.panel-danger
          .panel-heading 危险提示
          .panel-body!= section.danger
      if section.note
        .panel.panel-info
          .panel-heading 提示
          .panel-body!= section.note
