for syntaxItem in syntaxObj
  h1= syntaxItem.title
  for section in syntaxItem.sections
    if section.text
      p.description !{section.text}
    .code-wrap
      .code-boxes
        .box.jade
          pre= jades[section.jadecode]
        for code in section.includescode
          .box.jade
            pre= includes[code]
      .code-boxes
        .box.html
          pre= htmls[section.htmlcode]
