for item in obj
  h1= item.title
  for section in item.sections
    if section.text
      p.description: !{section.text}
    .code-wrap
      .code-boxes
        .box.jade
          pre= jades[section.jadecode]
        for code in section.includescode
          .box.jade
            pre= includes[code]
      .code-boxes
        .box.html!= htmls[section.htmlcode]
